/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

/* Styles */
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.Body {
  margin-top: 0px;
  max-width: 100%;
}

div.jumbotron {
  margin-bottom: 0px;
  background: url('../assets/CompassionateHeader.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat:   no-repeat;
  background-position: center center;
  height: 300px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: black;
  text-align: right;
  font-size: 70%;
  color: white;
}

#navbar {
  border-bottom: 1px solid #fc0d1b;
  width: 100%;
  height: 1%;
  top: 0;
  position: fixed;
  margin-bottom: 0;
}

#navbar .navbar-nav>li>a:focus { color: #DD0000; }
#navbar .navbar-brand:focus { color: #DD0000; }

#navItem {
  float: right;
  padding: 10px;
  color: black;
}

#navItem:hover, #navItem:active, #navItem:focus{
  color: #fc0d1b;
}

.fa.fa-home {
  padding-top: 10px;
  margin-bottom: 10px;
}

//--------------^Header CSS^-----------

.page {
    border: 1px solid #ddd;
    border-width: 1px 0;
    background: #f7f7f7;
    margin: 20px 0;
    padding: 200px;
    height: 1000px;
}

#about {
  position: relative;
  top: 0;
  left: 0;
}

#about .aboutSection {
  background-color: #7d2b5a;
  //margin: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

#AboutUs {
  margin: 10px;
}

#services {
  position: relative;
  top: 0;
  left: 0;
}

#services .ServicesSection {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}

